<app-menu [name]="menuName"></app-menu>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8" style="background-color: #dfe6e9 !important;">
  <div class="text-700 text-center">
      <div class="text-blue-600 font-bold mb-3"><i class="pi pi-car"></i> Auto Service</div>
      <div class="text-900 font-bold text-5xl mb-3">Manage your cars</div>
      <div class="text-700 text-2xl mb-5">System to manage your cars and services</div>
      <button pButton pRipple label="Go to site" icon="pi pi-car" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
  </div>
</div>
